{% extends "_layout.twig" %}

{% set title = "Top rated levels" %}
{% set description = "View the most liked levels on principia-web." %}

	{% block content %}
<h1>Top rated levels</h1>
<p>These are the top rated levels of all time, which have the most likes.</p>

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% endfor %}
</div>

<br><br>
	{% endblock %}