{% extends "_layout.twig" %}

{% set title = name %}
{% set description = userpagedata.about|replace({"\r":'',"\n":' '}) %}
{% set pagename = "/user/" ~ id %}

	{% block content %}
<h1>{{ name }}</h1>

<div class="user_about">
	<h3>About this user</h3>
	{{ userpagedata.about | default("*This user hasn't written anything about themselves yet...*") | markdown }}
</div>

<h2>Levels</h2>

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	This user hasn't uploaded any levels yet!
{% endfor %}
</div>

{% set le_url = '/user/' ~ id ~ '?page=%s' %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

<br>

	{% endblock %}
